<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4 font-weight-bold text-info">MemeStr</h1>
    <p class="lead text-white">Explore the world of Memes!</p>
  </div>
</div>

<div class="container">
    <div class="row">
        <h2>Explore</h2>
    </div>
<div class="container">
<br>
    <div class="row">
        <div class="col-10">
            <h4>Newest Memes</h4>
        </div>
        <div class="col-2">
            <h4 class="text-right">New MemeStrs</h4>
            <ul class="text-right no-bullets list-group ">
                <% @users.each do |u| %>
                    <li class="text-right list-group-item list-group-item-info badge badge-secondary">
                        <%= link_to(u.username, user_path(u), class: "no-decor") %>
                    </li>
                <% end %>    
            </ul>
        </div>
    </div>
<br>
<h4>Random Memes</h4>
<div class="container">
    <div class="row">
    <% @featured.in_groups_of(3) do | m1, m2, m3 |%>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <%= link_to image_tag(m1.url, class: "card-img-top"), user_path(m1.user) %>
                <div class="card-body">
                    <p class="card-text"><%= m1.caption %></p>
                </div>
            </div>
        </div>
        <% if m2 %>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <%= link_to image_tag(m2.url, class: "card-img-top"), user_path(m2.user) %>
                <div class="card-body">
                    <p class="card-text"><%= m2.caption %></p>
                </div>
            </div>
        </div>
        <% end %>
        <% if m3 %>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <%= link_to image_tag(m3.url, class: "card-img-top"), user_path(m3.user) %>
                <div class="card-body">
                    <p class="card-text"><%= m3.caption %></p>
                </div>
            </div>
        </div>
        <% end %>
    <% end %>
    </div>
</div>


        
